<!DOCTYPE html>
<html lang="en">
<head>
    <title>Bootstrap Example</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</head>
<body>
<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">WebSiteName</a>
        </div>
        <ul class="nav navbar-nav">
            <li class="active"><a href="#">Home</a></li>
            <li><a href="#">Page 1</a></li>
            <li><a href="#">Page 2</a></li>
            <li><a href="#">Page 3</a></li>
        </ul>
    </div>
</nav>
<div class="form-group">
    <textarea id="chat-log" cols="100" class='form-control' rows="20" style="width: 300px;resize: none;"></textarea>
</div>
<div class="form-inline">
    <form id="from" method="post">
        {% csrf_token %}
        <input id="chat-message-input" type="text" class="form-control" style="width: 239px;" size="100"/>
        <button id="chat-message-submit" type="submit" class="btn btn-primary">Send</button>
    </form>
</div>
<a href="http://localhost:8000/tanks_game/1/">Go to room 1 and test a game</a>
<script src="https://cdnjs.cloudflare.com/ajax/libs/reconnecting-websocket/1.0.0/reconnecting-websocket.js"></script>
<script>
    console.log(window.location)
    const socket_url = 'ws://' + window.location.host + window.location.pathname;
    let socket = new ReconnectingWebSocket(socket_url);
    let formData = $("#from");
    socket.onmessage = function (event) {
        console.log(event)
    };
    socket.onopen = function (event) {
        console.log('socket open', event);
        formData.submit(function (e) {
            e.preventDefault();

            socket.send($('#chat-message-input').val());
        });
    };

    socket.onmessage = function (event) {
        console.log(event);
        let textArea = $('#chat-log');
        let chatData = JSON.parse(event.data);

        function addToTextarea($ta, text) {
            var val = $ta.val();
            if (val) {
                $ta.val(val + '\n' + text);
            } else {
                $ta.val(text);
            }
            $ta.scrollTop($ta[0].scrollHeight);
        }

        addToTextarea(textArea,chatData.user + ": " + chatData.text);
    }
    socket.onclose = function (event) {
        console.log('socket close', event)
    };
</script>
</body>
</html>
